.addMovie{
    padding: 5px;
    border: groove;
    width: 300px;
    border-radius: 5px;
}

.input{
    border-radius: 7px;
    width: 100%;
    margin-top: 1%;
}

.submit-button{
    border-radius: 7px;
    border: groove;
    margin-top: 20px;
    width: 100%;
    color: #337ab7;
}

.header{
    color: black;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}
