
.movie {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    border: groove;
    width: 300px;
    border-radius: 10px;
}

.title {
    height: auto;
    width: auto;
    color: black;
}

.details {
    color: grey;
    font-size: 75%;
}

.delete{
    text-align: center;
    vertical-align: middle;
    line-height: 200%;
}