.header{
    color: black;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

.input {
    border-radius: 7px;
    width: 100%;
    margin-top: 5%;
}

.search{
    padding: 10px 5px 10px 5px;
    border: groove;
    width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10%;
    text-align: center;
}
